Source: huayra-tuxguitar-settings
Section: sound
Priority: optional
Maintainer: Miguel Angel Garcia <miguel.garcia@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5

Package: huayra-tuxguitar-settings
Architecture: all
Depends: ${misc:Depends}, tuxguitar, timidity, tuxguitar-alsa
Description: Configuración de tuxguitar personalizada para Huayra
 Utiliza timidity para reproducir audio.
